<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forest Of Volunteer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
 </head>
                                <body class="tm-bg-img-content">

                                    <div class="tm-bg-img-header">
                                       <div class="container-fluid">
                                                        
                                       <div id="top" class="tm-header-container">
                                                                       
                                       <div class="row tm-site-header">
                                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                                      
                                       <h1 class="tm-site-title">Forest Of Volunteer</h1>
                                       
                      </div>
                      <div class="row" id="tm-section-4">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                                                                                                                                                                                        
                      <h2 class="tm-section-title">회원가입</h2>
                      </div>

                      <form action="/process/make_member" method="post" class="tm-contact-form" id="ac1">                                
                      <div class="form-group ">
                        <input id="user-id"type="id" name="user_id" class="form-control" placeholder="아이디"  required/>
                        <input type="button" name="check_id"  class="btn tm-btn-brown-square pull-xs-right" onclick="dup_id()" value="아이디 중복확인">
                      <input type="email" name="user_email" class="form-control" placeholder="이메일 ex)aaa@naver.com"  required/>
                      <br>
                      </div> 
                      <br>
                      <div class="form-group">
                      <br>
                      <input type="password" name="user_psswd"  class="form-control"   placeholder="비밀번호 확인" required>
                      </div>
                      
		      <div class="form-group " >
                      <input type="text" name ="user_company" class="form-control" placeholder="기관명"  required/>
                      </div>

		      
		      <div class="form-group " >
                      <input type="text" name ="user_name" class="form-control" placeholder="이름"  required/>
                      </div>
                      </form>
                      <br>
                      <button type="submit" form ="ac1" class="btn tm-btn-brown-square pull-xs-right">회원 등록</button>                            
                      </div>
                      </div>    
                      </div> 

                      <script>
                            var check = false;
                            function dup_id() {
                                const id = document.getElementById('user-id').value;
                                if (id) {
                                    fetch('/process/dup_id', {
                                        method:'POST',
                                        headers : {
                                            'Content-Type' : 'application/json'
                                        },
                                        body : JSON.stringify({
                                            user_id : id
                                        })
                                    }).then(function (res) {
                                        // console.log(res.text());
                                        if (res.status == 200) {
                                            res.text().then(function (textJson) {
                                                data = JSON.parse(textJson);
                                                if (data.check) {
                                                    alert('아이디가 중복 되었습니다.');
                                                    check = false;
                                                }
                                                else {
                                                    alert('아이디를 사용가능합니다.');
                                                    check = true;
                                                }
                                            });
                                        }
                                    });
                                }
                            }
                      </script>
                      </body>
                      </html>
