<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forest of Volunteer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
    <link rel="stylesheet" href="static/font-awesome-4.5.0/css/font-awesome.min.css">                
    <link rel="stylesheet" href="static/css/bootstrap.min.css">                                      
    <link rel="stylesheet" href="static/css/templatemo-style.css">  
                                   


</head>

<body class="tm-bg-img-content">

    <div class="tm-bg-img-header">
        <div class="container-fluid">
            
            <div id="top" class="tm-header-container">
                
                <div class="row tm-site-header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">

                        <h1 class="tm-site-title">Forest of Volunteer</h1>
                        <p class="tm-site-description"></p>
                    
                    </div>
                </div>

                <div class="row tm-navbar-row tm-navbar-row-absolute">
                    <div class="tm-navbar-container">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            <nav class="navbar navbar-full">
                                    
                                <div class="text-xs-center tm-navbar-rounded" id="tmNavbar">                            
                            
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#top">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tm-section-1">Introduction</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tm-section-3">Users</a>
                                        </li>
                                    </ul>

                                </div>
                              
                            </nav>
                        </div> 
                    </div>                     
                </div> 

            </div>
            
     
            <div class="row" id="tm-section-1">
                
                <div class="container">
                    <section class="tm-2-col-img-text">
                    
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 tm-2-col-img">                                
                            <i class="fa fa-5x fa-map-o"></i>
                            <i class="fa fa-5x fa-rocket"></i>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 tm-2-col-text">
                            <h2 class="tm-2-col-text-title">Forest of Volunteer</h2>
                            <p class="tm-2-col-text-description">
                                 봉사의 숲에 오신것을 환영합니다.<br>
                                 저희는 봉사를 장려하고 더 편리한<br>
                                 봉사활동 인증 사이트를 구현하고<br>
                                 있습니다. 많은 관심을 가져주시면<br>
                                 감사하겠습니다.
                            </p>
                        </div>
                        
                    </section>

                    <section class="tm-2-col-img-text" id="tm-section-2">
                    
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 tm-2-col-text">
                            <h2 class="tm-2-col-text-title">Volunteer Certification</h2>
                            <p class="tm-2-col-text-description">
                                저희는 Block Chain을 이용하여 더 안전하고 편리한<br>
                                봉사활동 인증서를 발급해드립니다. 또한 봉사활동을 <br>
                                장려하기 위하여 봉사활동 시간이 적립됨에 따라 <br>
                                다양한 혜택을 준비하고 있습니다. 
                            </p>
                        </div>
                
                    </section>
                </div>                

            </div> 
        </div>             
    </div> 
    <div class="container-fluid">
        
        
        <div class="row tm-section" id="tm-section-3">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
                <h2 class="tm-section-title">Users</h2>
                <p class="tm-section-subtitle">
                      유형을 선택하세요. 저희 사이트를 어떻게 이용하는 것이 가장 최고의 방법인지 알려드립니다.<br>
                      
                </p>    
            </div>
                    
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    
                <div class="tm-plan-boxes-container">
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">
    
                        <table class="tm-table-full-width">
                            <thead>
                                <tr class="tm-bg-green-1">
                                    <th class="tm-plan-table-header"><b><center>봉사자</center></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tm-bg-green-2"><td class="tm-plan-table-cell"><center>초중등학생</center></td></tr>
                                <tr class="tm-bg-green-3"><td class="tm-plan-table-cell"><center>고등학생</center></td></tr>
                                <tr class="tm-bg-green-1"><td class="tm-plan-table-cell"><center>대학생</center></td></tr>
                                <tr class="tm-bg-green-2"><td class="tm-plan-table-cell"><center>일반인</center></td></tr>
                                <tr class="tm-bg-green-3">
                                    <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                    <a href="http://localhost:3002" class="tm-bg-green-1 tm-btn-rounded tm-btn-green"><b>선택</b></a>
				    </td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">
                        
			<form action="/process/loginpage" method="post" class="tm-contact-form">
    
			<table class="tm-table-full-width">
                            <thead>
                                <tr class="tm-bg-blue-1">
                                    <th class="tm-plan-table-header"><b><center>봉사활동 기관</center></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tm-bg-blue-2"><td class="tm-plan-table-cell"><center>문화의 집</center></td></tr>
                                <tr class="tm-bg-blue-3"><td class="tm-plan-table-cell"><center>학교</center></td></tr>
                                <tr class="tm-bg-blue-1"><td class="tm-plan-table-cell"><center>시청</center></td></tr>
                                <tr class="tm-bg-blue-2"><td class="tm-plan-table-cell"><center>자원봉사 센터</center></td></tr>
                                <tr class="tm-bg-blue-3">
                                    <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
                                        <a href="http://localhost:3001" class="tm-bg-blue-1 tm-btn-rounded tm-btn-blue"><b>선택</b></a>     
                                    </td>
                                </tr>
                            </tbody>
                        </table>  
			</form>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">
                        <form action="/process/loginpage" method="post" class="tm-contact-form">
                        <table class="tm-table-full-width">
                            <thead>
                                <tr class="tm-bg-gold-1">
                                    <th class="tm-plan-table-header"><b><center>봉사 조회 기관</center></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tm-bg-gold-2"><td class="tm-plan-table-cell"><center>학교</center></td></tr>
                                <tr class="tm-bg-gold-3"><td class="tm-plan-table-cell"><center>회사</center></td></tr>
                                <tr class="tm-bg-gold-1"><td class="tm-plan-table-cell"><center>사회복지센터</center></td></tr>
                                <tr class="tm-bg-gold-2"><td class="tm-plan-table-cell"><center>국가 인증 기관</center></td></tr>
                                <tr class="tm-bg-gold-3">
                                    <td class="tm-plan-table-cell tm-plan-table-cell-pad-small text-xs-center">
					<a href="http://localhost:3002" class="tm-bg-gold-1 tm-btn-rounded tm-btn-gold"><b>선택</b></a>
				    </td>
                                </tr>
                            </tbody>
                        </table>  
			</form>
                    </div>

                </div> 

            </div> 

        </div> 

    </div>        

     
    <script>

        function prepareMenuForDesktop() {

            var navbarHeight = 0;
            
            // For screens greater than 767
            if($(window).width() > 767) {

                // target at which the menu bar changes to sticky
                var target = $("#tm-section-1").offset().top - 100;

                // window scroll
                $(window).scroll(function(){

                    if($(this).scrollTop() > target) {                            
                        $(".tm-navbar-row").addClass("sticky");                            
                    }
                    else {
                        $(".tm-navbar-row").removeClass("sticky");
                    }     

                }); 

                navbarHeight = 56;
            }

            // Single Page Nav
            $('#tmNavbar').singlePageNav({
               'currentClass' : "active",
                offset : navbarHeight,
                'filter': ':not(.external)'
            });  
        }  
   
        $(document).ready(function(){                 

            prepareMenuForDesktop();

            // On window resize, prepare menu
            $(window).resize(function(){
                prepareMenuForDesktop();                 
                                  
            });       
        });

    </script>             

</body>
</html>
